<nav class="navbar navbar-primary navbar-static-top">
    <div class="container">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-th-list"></span> Participants for Pitching Sessions<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/registered-participants-jnec/1">JNEC - Samdrup Jongkhar</a></li>
              <li class="divider"></li>
              <li><a href="/registered-participants-sherubtse/1">Sherubtse College - Trashigang</a></li>
              <li class="divider"></li>
              <li><a href="/registered-participants-clcs/1">CLCS - Trongsa</a></li>
              <li class="divider"></li>
              <li><a href="/registered-participants-cst/1">CST - Phuntsholing</a></li>
              <li class="divider"></li>
              <li><a href="/registered-participants-gaeddu/1">Gaeddu College - Chhukha</a></li>
              <li class="divider"></li>
              <li><a href="/registered-participants-cnr/1">CNR - Punakha</a></li>
              <li class="divider"></li>
              <li><a href="/registered-participants-rtc/1">RTC - Thimphu</a></li>
            </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-link"></span> Relevant Links <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="https://goo.gl/Av8DUa" target="_blank"> Registration for National Techstars Startup Weekend Bhutan</a></li>
              <li class="divider"></li>
              <li><a href="https://www.dit.gov.bt/" target="_blank">Department of IT & Telecom</a></li>
              <li class="divider"></li>
              <li><a href="http://thimphutechpark.com/" target="_blank">Thimphu Tech Park</a></li>
            </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="navbar-right">
          <a href="https://startupweekend.org/" target="_blank"><span class="glyphicon glyphicon-new-window"></span> Startup Weekend Website</a>
        </li>
      </ul>
    </div>
</nav>
  