<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/swbhutan-logo.png">
    </a>
    <h2>Startup Weekend Bhutan 2018 (#swbhutan2018)</h2>
    <p>Bringing ICT enabled Innovation and Creativity Within Bhutanese Society</p>
    <!-- <a type="button" class="btn btn-lg btn-default" href="http://localhost:8080/"><span class="glyphicon glyphicon-list"></span> List of Registered Applicants for Business Idea Pitching</a>
    <a type="button" class="btn btn-lg btn-primary" href="http://localhost:8080/"><span class="glyphicon glyphicon-download"></span> List of Registered Groups for Startup Weekend</a> -->
    <div class="jumbotron">
      <h1>Mobile App</h1>
      <p>Mobile app landing soon..!</p>
      <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Download Here</a></p> -->
    </div>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    <p>Event Organisers</p>
  </div>
  <hr>
   <div class="alert alert-info text-center" role="alert">
    <p>Event Sponsors</p>
  </div>
</div>

</body>
</html>
