<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/swbhutan-logo.png">
    </a>
    <h2>National Techstars Startup Weekend Bhutan 2018</h2>
    <div class="jumbotron">
      <h3>Download the Startup Weekend App Below:</h3>
      <a href='https://play.google.com/store/apps/details?id=bt.gov.ditt.startupweekendapp&hl=en&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
        <img  style="width:250px; height:90px" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/>
      </a>
    </div>
  </div>
</div>
<div class="container">
  <div class="footer">
      Organised by: <a href="https://www.dit.gov.bt/" target="_blank">Department of Information Technology & Telecom</a>, MoIC. Royal Government of Bhutan.
  </div>
</div>

</body>
</html>
